<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <body>
    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form class="message" action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <h1>Video Streaming Demonstration</h1>
    <!-- <form class="video" action="" method="POST"> <input type="submit"/> </form> -->
    <!-- <img src="{{ url_for('video_feed') }}"> -->
    <img class="uservideo"/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      function hexToBase64(str) {
          return btoa(String.fromCharCode.apply(null, str.replace(/\r|\n/g, "").replace(/([\da-fA-F]{2}) ?/g, "0x$1 ").replace(/ +$/, "").split(" ")));
      }
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form.message' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
        // var form = $( 'form.video' ).on( 'submit', function( e ) {
        //   e.preventDefault()
        //   console.log(user_name)
        //   socket.emit( 'connect user', {
        //     user_name : user_name,
        //   } )
        //   $( 'input.userid' ).val( '' ).focus()
        // } )
        // var form = $( 'form.video' ).on( 'submit', function( e ) {
        //   e.preventDefault()
        //   socket.emit( 'send frame bundle', {} )
        // } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
  
      socket.on('frame response',function(msg) {
        $( 'img.uservideo' ).attr("src","data:image/jpeg;base64,"+hexToBase64(msg.frame))
      })
      socket.on('fr',function(msg) {
        console.log("5")
      })
    </script>

  </body>
  </html>