<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <form class="video" action="" method="POST">
      <input class="user"/> 
      <input type="submit"/>
    </form>
    <img class="uservideo1"/>
    <img class="uservideo2"/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      function hexToBase64(str) {
          return btoa(String.fromCharCode.apply(null, new Uint8Array(str)));
      }
      // Connection To Socket
      var stream_socket = io.connect('http://' + document.domain + ':' + location.port+'/stream')
      var sendframe = false
      var userid 
      stream_socket.on( 'connect', function() {
        stream_socket.emit( 'my event', { data: 'User Connected'} )
      })
      
      $('form.video').on( 'submit', function(e) {
          e.preventDefault()
          userid = $( 'input.user' ).val()
          console.log("User ID: "+userid)
          if(userid==1 || userid==2) sendframe=true  
          if(sendframe) socket.emit( 'send frame bundle', {user:userid}, namespace="/stream")
          console.log("Requesting frames...")
      })
      stream_socket.on('fr',function(msg) {
        console.log("Frame Received from User: "+msg.user)
        if(sendframe) stream_socket.emit( 'send each frame', namespace="/stream")
        if(msg.user=='1') {
          $( 'img.uservideo1' ).attr("src","data:image/jpeg;base64,"+hexToBase64(msg.data))
          // stream_socket.emit( 'send each frame', {user:'1'}, namespace="/stream")
        } 
        if(msg.user=='2') {
           $( 'img.uservideo2' ).attr("src","data:image/jpeg;base64,"+hexToBase64(msg.data))
          //  stream_socket.emit( 'send each frame', {user:'2'}, namespace="/stream")
        }
      })
    </script>

  </body>
  </html>