body {
  background-image: linear-gradient(#fe7763, #fc3a5d);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  justify-content: center;
}

video {
  max-width: 100%;
  width: 320px;
}
